services:
  wendy-apiserver:
    image: ylei2023/wendy-apiserver:latest
    volumes:
      - ${PWD}/data:${PWD}/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - GAME_ARCHIVE_PATH=${PWD}/data
      - DATABASE_URL=sqlite:${PWD}/data/wendy.sqlite3
      - STEAM_API_KEY=${STEAM_API_KEY}
    restart: always

  wendy-plane:
    image: ylei2023/wendy-plane:latest
    restart: always
    ports:
      - "8000:80"
