input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.plane-box {
  width: 90vw;
  height: 90vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.plane-box::-webkit-scrollbar {
  display: none;
}

.plane-card {
  height: 44vh;
  min-height: 25rem;
  background-color: var(--bg-color);
  border-radius: 1vh;
  margin-bottom: 1vh;
  display: flex;
  justify-items: left;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.plane-card-room {
  width: 20rem;
  height: 70%;
  margin: 1rem 1rem 1rem 1rem;
}

.plane-card-line {
  font-size: 0.8rem;
  height: 1.5vh;
  margin-bottom: 0.8rem;
}

.plane-card-line input {
  width: 100%;
  max-width: 15rem;
  background: none;
  outline: none;
  border: 0.125rem solid transparent;
  white-space: nowrap;
  color: white;
  transition: border-color 0.3s ease;
}

.plane-card-line input:hover {
  border-color: #3498db;
  border-width: 0.125rem;
}

.plane-card-line input:focus {
  border-color: #3498db;
  border-width: 0.125rem;
}

.radio-box {
  display: flex;
  align-items: center;
}

.radio-item {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  cursor: pointer;
}

.radio-item input {
  width: 0.9rem;
  height: 0.9rem;
}

.radio-item input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #0000;
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid #504f4f;
  position: relative;
}

.radio-item input[type="radio"]::before {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #3498db;
  transform: translate(-50%, -50%);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.radio-item input[type="radio"]:checked::before {
  opacity: 1;
}

.copy-box {
  width: 20rem;
  display: flex;
  align-items: center;
}

.stats-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 19rem;
  font-size: 0.8rem;
}

.stats-box-item {
  display: flex;
  color: #3498db;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.stats-box-item:hover {
  cursor: pointer;
}

.stats-box-text {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.buttons-box {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 15%;
  width: 20rem;
  gap: 2.8rem;
}

.buttons-box-item {
  cursor: pointer;
}

.buttons-box-share {
  position: relative;
  display: inline-block;
}

.buttons-box-item-tip {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  background-color: #504f4f;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
  width: fit-content;
}

.buttons-box-item-tip.hide {
  opacity: 0;
}

.mod-box {
  font-size: 0.8rem;
  margin-top: 1rem;
  min-width: 12rem;
  max-width: 12rem;
  display: flex;
  height: 36vh;
  flex-direction: column;
}

.mod-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.4rem;
  height: 3rem;
}

.mod-item img {
  width: 2.8rem;
  height: 2.8rem;
}

.mod-item-left {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.mod-item-title {
  height: 1rem;
  overflow: hidden;
  text-overflow: clip;
}

.mod-item-title:hover {
  cursor: default;
}

.mod-item-button {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.mod-item-button div:hover {
  cursor: pointer;
}

.mod-box-separation-line {
  width: 100%;
  height: 0.2rem;
  background-color: #111418;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mod-box-added {
  height: 45%;
  overflow-y: auto;
}

.mod-box-added::-webkit-scrollbar {
  width: 0.8rem;
}

.mod-box-added::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.mod-box-added::-webkit-scrollbar-thumb {
  background: #111418;
  border-radius: 1rem;
}

.mod-box-added::-webkit-scrollbar-corner {
  background: none;
}

.search-mod {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #111418;
  border-radius: 1rem;
}

.search-mod input {
  width: 80%;
  background-color: transparent;
  border: none;
  height: 100%;
  color: #ffff;
  margin-left: 0.5rem;
  outline: none;
}

.search-mod:hover {
  cursor: pointer;
}

.mod-box-search {
  margin-top: 1rem;
  height: 28%;
  overflow-y: auto;
}

.mod-box-search::-webkit-scrollbar {
  width: 0.8rem;
}

.mod-box-search::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.mod-box-search::-webkit-scrollbar-thumb {
  background: #111418;
  border-radius: 1rem;
}

.mod-box-search::-webkit-scrollbar-corner {
  background: none;
}

.mod-box-loading {
  margin-top: 1rem;
  height: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mod-config-box {
  position: absolute;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 100;
  left: 27%;
  top: 40%;
  background-color: #504f4f;
  max-width: 25rem;
  max-height: 10rem;
}

.mod-config-title {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mod-config-edit {
  overflow-y: auto;
  border-radius: 1%;
}

.mod-config-edit::-webkit-scrollbar {
  width: 0.4rem;
}

.mod-config-edit::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.mod-config-edit::-webkit-scrollbar-thumb {
  background: #111418;
  border-radius: 1rem;
}

.mod-config-edit::-webkit-scrollbar-corner {
  background: none;
}

.mod-config-edit-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0000;
  padding-bottom: 0.2rem;
}

.mod-config-label {
  width: 8rem;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod-config-label:hover {
  cursor: default;
  animation-play-state: paused;
}

.mod-config-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mod-config-value {
  height: 1.2rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: rgb(41, 40, 40);
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.world-box {
  width: 32rem;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.world-nav {
  display: flex;
  justify-content: left;
  height: 2rem;
  gap: 0.2rem;
}

.world-nav-item {
  background-color: rgb(12, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 1.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.world-nav-add {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  cursor: pointer;
}

.world-nav-remove {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: top;
  justify-content: center;
  cursor: pointer;
}

.world-nav-add-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 120%;
  left: 0%;
  gap: 0.2rem;
  z-index: 99;
}

.world-nav-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 10, 10);
  height: 1.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.overrides-box {
  height: 34.5vh;
  overflow-y: auto;
}

.overrides-box::-webkit-scrollbar {
  display: none;
}

.overrides-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
}

.overrides {
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overrides img {
  width: 2.5rem;
  height: 2.5rem;
}

.override-text {
  cursor: default;
  display: flex;
  flex-direction: column;
  width: 3rem;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  gap: 0.1rem;
}

.override-value {
  font-size: 0.6rem;
}

.override-button {
  cursor: pointer;
}

.override-button img {
  height: 2.5rem;
  width: 2.5rem;
}

.terminal-box {
  font-size: 0.8rem;
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 1rem;
}

.terminal-nav {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 2rem;
  gap: 1rem;
}

.terminal-nav-item {
  background-color: rgb(12, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.2rem;
}

.terminal-outer {
  padding: 1rem 0 1rem 1rem;
  background-color: rgb(12, 10, 10);
  border-radius: 2%;
}

.terminal {
  overflow-y: auto;
  height: calc(37.5vh - 2rem);
}

.terminal::-webkit-scrollbar {
  width: 0.4rem;
}

.terminal::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.terminal::-webkit-scrollbar-thumb {
  background: #696b6d;
  border-radius: 1rem;
}

.command-box {
  font-size: 0.75rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.command-item {
  cursor: pointer;
  color: pink;
  background-color: #171718;
  width: 5rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.command-item:hover {
  color: #ffff;
}

.command-input {
  color: #ffff;
  font-size: 0.75rem;
  height: 1.5rem;
  width: 8rem;
  border-radius: 0.3rem;
  background-color: #171718;
  border: none;
  margin-bottom: 1rem;
}

.command-input::placeholder {
  text-indent: 0.3rem;
}

.top-nav-box {
  width: 90vw;
  min-width: 60rem;
  height: 6vh;
  min-height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #2c2c2c;
  margin-top: 2vh;
  margin-left: 1vw;
  border-radius: 1vh;
  gap: 1rem;
}

.top-nav-github-svg {
  color: white;
  fill: currentColor;
}

.top-nav-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.top-nav-button {
  cursor: pointer;
  height: 2rem;
  width: 5.5rem;
  min-width: 5rem;
  display: flex;
  background-color: black;
  font-size: 0.8rem;
  align-items: center;
  color: pink;
  justify-content: center;
  border-radius: 0.5rem;
}

.top-nav-button:hover {
  color: #fff;
}

.nav-top-input {
  color: #ffffff; /* 应该是 #ffffff */
  font-size: 0.75rem;
  height: 2rem;
  width: 40rem; /* 初始宽度 */
  max-width: 100%; /* 不超过容器宽度 */
  min-width: 10rem; /* 最小宽度，保持可用性 */
  border-radius: 1rem;
  background-color: #171718;
  border: none;
  margin-right: 40%;
  margin-left: 5%;
  text-indent: 1rem;
}

.nav-top-input:focus {
  border: none;
  outline: none;
}