.left-nav-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0 2% 0;
}

.left-nav-avatar {
  margin-bottom: 20%;
  width: 70%;
  height: 16%;
  margin: 0 0 13% 0;
}

.left-nav-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-nav-icon {
  width: 1.875rem;
  height: 1.875rem;
}
