input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

.plane-box {
    width: 90vw;
    height: 90vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.plane-box::-webkit-scrollbar {
    display: none;
}

.plane-card {
    height: 44vh;
    background-color: var(--bg-color);
    border-radius: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-items: left;
    scroll-snap-align: start;
}

.plane-card-room {
    width: 20rem;
    height: 70%;
    margin: 1rem 1rem 1rem 1rem;
}

.plane-card-line {
    font-size: 0.8rem;
    margin-top: 0;
    height: 0.8rem;
    margin-bottom: 0.8rem;
}

.plane-card-line input {
    width: 100%;
    max-width: 15rem;
    background: none;
    outline: none;
    border: 0.125rem solid transparent;
    white-space: nowrap;
    color: white;
    transition: border-color 0.3s ease;
}

.plane-card-line input:hover {
    border-color: #3498db;
    border-width: 0.125rem;
}

.plane-card-line input:focus {
    border-color: #3498db;
    border-width: 0.125rem;
}

.radio-box {
    display: flex;
    align-items: center;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
    cursor: pointer;
}

.radio-item input {
    width: 0.9rem;
    height: 0.9rem;
}

.radio-item input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #0000;
    border-radius: 50%;
    cursor: pointer;
    border: 0.125rem solid #504f4f;
    position: relative;
}

.radio-item input[type="radio"]::before {
    content: '';
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #3498db;
    transform: translate(-50%, -50%);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.radio-item input[type="radio"]:checked::before {
    opacity: 1;
}

.copy-box {
    width: 20rem;
    display: flex;
    align-items: center;
}

.stats-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18%;
    width: 20rem;
    font-size: 0.8rem;
}

.stats-box-item {
    display: flex;
    color: #3498db;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.stats-box-item:hover {
    cursor: pointer;
}

.stats-box-text {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.buttons-box {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 20%;
    width: 20rem;
    gap: 2.8rem;
}

.buttons-box-item {
    cursor: pointer;
}

.buttons-box-share {
    position: relative;
    display: inline-block;
}

.buttons-box-item-tip {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    background-color: #504f4f;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    white-space: nowrap;
    width: fit-content;
}

.buttons-box-item-tip.hide {
    opacity: 0;
}

.mod-box {
    font-size: 0.8rem;
    margin-top: 1rem;
    width: 12rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 1rem;
}

.mod-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.4rem;
    height: 3rem;
}

.mod-item img {
    width: 2.8rem;
    height: 2.8rem;
}

.mod-item-left {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    gap: 0.5rem;
}

.mod-item-title {
    height: 1rem;
    overflow: hidden;
    text-overflow: clip;
}

.mod-item-title:hover {
    cursor: default;
}

.mod-item-button {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.mod-item-button div:hover {
    cursor: pointer;
}

.mod-box-separation-line {
    width: 100%;
    height: 0.2rem;
    background-color: #111418;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mod-box-added {
    height: 45%;
    overflow-y: auto;
}

/* 自定义滚动条样式 */
.mod-box-added::-webkit-scrollbar {
    width: 0.8rem; /* 滚动条宽度 */
}

.mod-box-added::-webkit-scrollbar-track {
    border-radius: 1rem;
}

.mod-box-added::-webkit-scrollbar-thumb {
    background:  #111418;
    border-radius: 1rem;
}

.mod-box-added::-webkit-scrollbar-corner {
    background: none;
}

.search-mod {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background:  #111418;
    border-radius: 1rem;
}

.search-mod input {
    width: 80%;
    background-color: transparent;
    border: none;
    height: 100%;
    color: #ffff;
    margin-left: 0.5rem;
    outline: none;
}

.search-mod:hover {
    cursor: pointer;
}

.mod-box-search {
    margin-top: 1rem;
    height: 28%;
    overflow-y: auto;
}

/* 自定义滚动条样式 */
.mod-box-search::-webkit-scrollbar {
    width: 0.8rem; /* 滚动条宽度 */
}

.mod-box-search::-webkit-scrollbar-track {
    border-radius: 1rem;
}

.mod-box-search::-webkit-scrollbar-thumb {
    background:  #111418;
    border-radius: 1rem;
}

.mod-box-search::-webkit-scrollbar-corner {
    background: none;
}

.mod-box-loading {
    margin-top: 1rem;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}